<div class="col-md-6 offset-md-3">
  <div class="card card-login card-plain">
    <form (ngSubmit)="submit()" #customerForm="ngForm">
      <div class="form-group form-group-no-border" [ngClass]="{'has-danger': firstName.errors}">
        <label for="firstName" class="form-control-label">First Name</label>
        <input [(ngModel)]="model.firstName" id="firstName" placeholder="your first name..." name="firstName" class="form-control"
          [ngClass]="{'form-control-danger': firstName.errors}" required maxlength="24" minlength="3" #firstName="ngModel">
        <div class="form-control-feedback" *ngIf="firstName.errors">
          <span *ngIf="firstName.errors.required">
            First name is Required
          </span>
          <span *ngIf="firstName.errors.minlength">
            Minimum length for first name is 3
          </span>
        </div>
      </div>
      <div class="form-group form-group-no-border" [ngClass]="{'has-danger': lastName.errors}">
        <label for="lastName">Last Name</label>
        <input [(ngModel)]="model.lastName" id="lastName" placeholder="your last name..." name="lastName" class="form-control" [ngClass]="{'form-control-danger': lastName.errors}"
          required maxlength="24" minlength="3" #lastName="ngModel">
        <div class="form-control-feedback" *ngIf="lastName.errors">
          <span *ngIf="lastName.errors.required">
            Last name is Required
          </span>
          <span *ngIf="lastName.errors.minlength ">
            Minimum length for last name is 3
          </span>
        </div>
      </div>
      <image-upload [max]="1" [dropBoxMessage]=""></image-upload>
      <button class="btn btn-primary" [disabled]="customerForm.invalid">Submit</button>
    </form>
    <alert type="danger" *ngIf="errorMessage ">
      {{errorMessage}}
    </alert>
    <alert type="success" *ngIf="successMessage">
      {{successMessage}}
    </alert>
  </div>
</div>
