<nav class="navbar navbar-expand-lg bg-danger">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="#">
        3D-Printing
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#pablo">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['login']" href="#pablo">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['user/register']">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['customer/modify']">Modify</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['admin']">Administration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <span class="now-ui-icons users_circle-08"></span> {{username}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="page-header" filter-color="orange">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a>
              &nbsp;
            </a>
          </li>
          <li>
            <a>
              &nbsp;
            </a>
          </li>
          <li>
            <a>
              &nbsp;
            </a>
          </li>
          <li>
            <a>
              &nbsp;
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy; {{year}} , Designed by
        <a href="http://www.gardar-co.com" target="_blank">Gardar</a>.
      </div>
    </div>
  </footer>
</div>
