<div class="col-md-6 offset-md-3">
  <div class="card card-plain">
    <form (ngSubmit)="submit()" #paymentMethodForm="ngForm">
      <div class="form-group form-group-no-border" [ngClass]="{'has-danger': cardNumber.errors}">
        <input [(ngModel)]="model.cardNumber" id="cardNumber" placeholder="your card number..." name="cardNumber" class="form-control"
          [ngClass]="{'form-control-danger': cardNumber.errors}" required #cardNumber="ngModel">
      </div>
      <div class="form-group form-group-no-border" [ngClass]="{'has-danger': name.errors}">
        <input [(ngModel)]="model.name" id="name" placeholder="your name as on the card..." name="name" class="form-control" [ngClass]="{'form-control-danger': name.errors}"
          required #name="ngModel">
      </div>
      <div class="form-group form-group-no-border" [ngClass]="{'has-danger': expiryDate.errors}">
        <input type="text" class="form-control" #expiryDate="bsDatepicker" name="expiryDate" [ngClass]="{'form-control-danger': expiryDate.errors}"
          bsDatepicker [(ngModel)]="model.expiryDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD','containerClass': 'theme-red' }"
          placeholder="Expiry date...">
      </div>
      <div class="form-group form-group-no-border" [ngClass]="{'has-danger': cardCompany.errors}">
        <input type="text" [(ngModel)]="model.cardCompany" id="cardCompany" placeholder="Card company..." name="cardCompany" class="form-control"
          [ngClass]="{'form-control-danger': cardCompany.errors}" required #cardCompany="ngModel">
      </div>
      <div>
        <button class="btn btn-primary" [disabled]="paymentMethodForm.invalid">Submit</button>
        <button class="btn btn-danger" [routerLink]="['../paymentMethods']">Cancel</button>
      </div>
    </form>
    <alert type="danger" *ngIf="errorMessage ">
      {{errorMessage}}
    </alert>
    <alert type="success" *ngIf="successMessage">
      {{successMessage}}
    </alert>
  </div>
</div>
