<div class="col-md-6 offset-md-3">
  <form (ngSubmit)="submit()" #colorForm="ngForm">
    <div class="form-group form-group-no-border" [ngClass]="{'has-danger': colorName.errors}">
      <input [(ngModel)]="model.colorName" id="colorName" placeholder="color name..." name="colorName" class="form-control" [ngClass]="{'form-control-danger': colorName.errors}"
        required #colorName="ngModel">
    </div>
    <div class="form-group form-group-no-border" [ngClass]="{'has-danger': !color}">
      <input [(colorPicker)]="color" [cpAlphaChannel]="'disabled'" [value]="color" [cpOutputFormat]="'hex'" class="form-control"
        [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true" readonly [style.color]="color"/>
    </div>
    <div>
      <button class="btn btn-primary" [disabled]="colorForm.invalid && !color">Submit</button>
      <button class="btn btn-danger" [routerLink]="['../colors']">Cancel</button>
    </div>
  </form>
  <alert type="danger" *ngIf="errorMessage ">
    {{errorMessage}}
  </alert>
  <alert type="success" *ngIf="successMessage">
    {{successMessage}}
  </alert>
</div>
