<div>
  <div>
    <a class="btn btn-primary" [routerLink]="['../newAddress']">Add Address</a>
  </div>
  <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th>Contact Name</th>
        <th>Mobile</th>
        <th>Country</th>
        <th>State/Province/County</th>
        <th>City</th>
        <th>Default Shipping</th>
        <th>Default Billing</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let address of addresses" (click)="selectAddress(address)" [ngClass]="{'table-active': isSelected(address.addressId)}" >
        <td>
          {{address.contactName}}
        </td>
        <td>
            {{address.countryCode}}-{{address.mobile}}
        </td>
        <td>
          {{address.country}}
        </td>
        <td>
          {{address.stateProvinceCounty}}
        </td>
        <td>
          {{address.city}}
        </td>
        <td>
          <span class="now-ui-icons" [ngClass]="{'ui-1_check': address.isDefaultShipping,'ui-1_simple-remove': !address.isDefaultShipping}"></span>
        </td>
        <td>
          <span class="now-ui-icons" [ngClass]="{'ui-1_check': address.isDefaultBilling,'ui-1_simple-remove': !address.isDefaultBilling}"></span>
        </td>
        <td>
        <a class="btn btn-primary" (click)="editAddress(address)"><span class="oi oi-pencil"></span></a>
          <a class="btn btn-primary" (click)="removeAddress(address)"><span class="oi oi-delete"></span></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-danger" *ngIf='errorMessage'>
    {{errorMessage}}
  </div>
  <router-outlet></router-outlet>
</div>
