<h3>
  Payment Method Details
</h3>
<div class="row">
  <div class="col">
    Card Number: {{paymentMethod.cardNumber}}
  </div>
  <div class="col">
    Name: {{paymentMethod.name}}
  </div>
  <div class="col">
    Expiry Date: {{paymentMethod.expiryDate}}
  </div>
  <div class="col">
    Card Company: {{paymentMethod.cardCompany}}
  </div>
</div>
