<div>
  <div>
    <a class="btn btn-primary" [routerLink]="['../newColor']">Add color</a>
  </div>
  <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th>Color Name</th>
        <th>Red</th>
        <th>Green</th>
        <th>Blue</th>
        <th>Preview</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let color of colors" (click)="selectColor(color)" [ngClass]="{'table-active': isSelected(color.colorId)}">
        <td>
          {{color.colorName}}
        </td>
        <td>
          {{color.r}}
        </td>
        <td>
          {{color.g}}
        </td>
        <td>
          {{color.b}}
        </td>
        <td>
          <span [style.background]="getHex(color)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </td>
        <td>
          <a class="btn btn-primary" (click)="editColor(color)">
            <span class="oi oi-pencil"></span>
          </a>
          <a class="btn btn-primary" (click)="removeColor(color)">
            <span class="oi oi-delete"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-danger" *ngIf='errorMessage'>
    {{errorMessage}}
  </div>
  <router-outlet></router-outlet>
</div>
