<div class="col-md-6 offset-md-3">
    <div class="card card-plain">
      <form (ngSubmit)="submit()" #addressForm="ngForm">
        <div class="form-group form-group-no-border" [ngClass]="{'has-danger': contactName.errors}">
          <input [(ngModel)]="model.contactName" id="contactName" placeholder="your contact name..." name="contactName" class="form-control"
            [ngClass]="{'form-control-danger': contactName.errors}" required #contactName="ngModel">
        </div>
        <div class="form-group form-group-no-border">
          <input [(ngModel)]="model.country" [typeahead]="countries" [typeaheadOptionsLimit]="7" typeaheadOptionField="name" name="country"
            placeholder="Country..." (typeaheadOnSelect)="countryChanged($event)" [ngClass]="{'form-control-danger': country.errors}"
            required #country="ngModel" class="form-control">
        </div>
        <div class="row">
          <div class="col-3">
            <div class="form-group form-group-no-border">
              <input [(ngModel)]="model.countryCode" id="countryCode" placeholder="+963" name="countryCode" class="form-control" disabled
                [ngClass]="{'form-control-danger': countryCode.errors}" #countryCode="ngModel">
            </div>
          </div>
          <span> - </span>
          <div class="col">
            <div class="form-group form-group-no-border" [ngClass]="{'has-danger': mobile.errors}">
              <input [(ngModel)]="model.mobile" id="mobile" placeholder="your mobile number..." name="mobile" class="form-control" [ngClass]="{'form-control-danger': mobile.errors}"
                required maxlength="24" #mobile="ngModel">
            </div>
          </div>
        </div>
        <div class="form-group form-group-no-border" [ngClass]="{'has-danger': streetAddress.errors}">
            <input [(ngModel)]="model.streetAddress" id="streetAddress" placeholder="Street Address..."
              name="streetAddress" class="form-control" [ngClass]="{'form-control-danger': streetAddress.errors}"
              required #streetAddress="ngModel">
          </div>
        <div class="form-group form-group-no-border" [ngClass]="{'has-danger': streetAddressNumberPOBox.errors}">
          <input [(ngModel)]="model.streetAddressNumberPOBox" id="streetAddressNumberPOBox" placeholder="Street Address, P.O box, etc..."
            name="streetAddressNumberPOBox" class="form-control" [ngClass]="{'form-control-danger': streetAddressNumberPOBox.errors}"
            required #streetAddressNumberPOBox="ngModel">
        </div>
        <div class="form-group form-group-no-border" [ngClass]="{'has-danger': apartmentSuiteUnitBuildingFloor.errors}">
          <input [(ngModel)]="model.apartmentSuiteUnitBuildingFloor" id="apartmentSuiteUnitBuildingFloor" placeholder="Apt, suite, unit, etc..."
            name="apartmentSuiteUnitBuildingFloor" class="form-control" [ngClass]="{'form-control-danger': apartmentSuiteUnitBuildingFloor.errors}"
            required #apartmentSuiteUnitBuildingFloor="ngModel">
        </div>
        <div class="form-group form-group-no-border" [ngClass]="{'has-danger': securityAccessCode.errors}">
            <input [(ngModel)]="model.securityAccessCode" id="securityAccessCode" placeholder="Building security access code..."
              name="securityAccessCode" class="form-control" [ngClass]="{'form-control-danger': securityAccessCode.errors}"
              required #securityAccessCode="ngModel">
          </div>
        <div class="form-group form-group-no-border" [ngClass]="{'has-danger': stateProvinceCounty.errors}">
          <input [(ngModel)]="model.stateProvinceCounty" id="stateProvinceCounty" placeholder="State/Province/County" name="stateProvinceCounty"
            class="form-control" [ngClass]="{'form-control-danger': stateProvinceCounty.errors}" required #stateProvinceCounty="ngModel">
        </div>
        <div class="form-group form-group-no-border" [ngClass]="{'has-danger': city.errors}">
          <input [(ngModel)]="model.city" id="city" placeholder="City" name="city" class="form-control" [ngClass]="{'form-control-danger': city.errors}"
            required #city="ngModel">
        </div>
        <div class="form-group form-group-no-border" [ngClass]="{'has-danger': zipPostalCode.errors}">
          <input [(ngModel)]="model.zipPostalCode" id="zipPostalCode" placeholder="Zip/PostalCode" name="zipPostalCode" class="form-control"
            [ngClass]="{'form-control-danger': zipPostalCode.errors}" required #zipPostalCode="ngModel">
        </div>
        <div class="btn-group">
          <label class="btn btn-primary margin10" [(ngModel)]="model.isDefaultShipping" name="defaultShipping" btnCheckbox>Default Shipping</label>
        </div>
        <div class="btn-group">
          <label class="btn btn-primary margin10" [(ngModel)]="model.isDefaultBilling" name="defaultBilling" btnCheckbox>Default Billing</label>
        </div>
        <div>
          <button class="btn btn-primary" [disabled]="addressForm.invalid">Submit</button>
          <button class="btn btn-danger" [routerLink]="['/customer/addresses']">Cancel</button>
        </div>
      </form>
      <alert type="danger" *ngIf="errorMessage ">
        {{errorMessage}}
      </alert>
    </div>
  </div>
