<?xml version="1.0" encoding="utf-8"?>
<Toolbar xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@+id/toolbar"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:minHeight="?android:attr/actionBarSize"
    android:background="?android:attr/colorPrimary"
    android:theme="@android:style/ThemeOverlay.Material.Dark.ActionBar" >



  <FrameLayout
      android:layout_width="wrap_content"
     android:layout_height="wrap_content"
      android:layout_gravity="right"
      android:layout_marginRight="8dp"
     
    >

    <TextView
       android:layout_width="wrap_content"
    android:layout_height="wrap_content"
    android:textStyle="bold"
       android:textSize="16sp"
       android:text="Done"
       android:textColor="@color/white"
      />

  </FrameLayout>


</Toolbar>