<div class="navbar navbar-collapse">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['./colors']">Colors</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
