<h3>
  Address Details
</h3>
<div class="row">
  <div class="col">
    ContactName: {{address.contactName}}
  </div>
  <div class="col">
    Country: {{address.country}}
  </div>
  <div class="col">
    City: {{address.city}}
  </div>
  <div class="col">
    Mobile: {{address.countryCode}}{{address.mobile}}
  </div>
</div>
<div class="row">
  <div class="col">
    Address: {{address.streetAddress}}
  </div>
  <div class="col">
    Address: {{address.streetAddressNumberPOBox}}
  </div>
  <div class="col">
    Address: {{address.apartmentSuiteUnitBuildingFloor}}
  </div>
  <div class="col">
    Security Access Code: {{address.securityAccessCode}}
  </div>
</div>
<div class="row">
  <div class="col">
    State / Province / Country: {{address.stateProvinceCounty}}
  </div>
  <div class="col">
    Zip Code: {{address.zipPostalCode}}
  </div>
  <div class="col">
    Default Shipping:
    <span class="now-ui-icons" [ngClass]="{'ui-1_check': address.isDefaultShipping,'ui-1_simple-remove': !address.isDefaultShipping}"></span>
  </div>
  <div class="col">
    Default Billing:
    <span class="now-ui-icons" [ngClass]="{'ui-1_check': address.isDefaultBilling,'ui-1_simple-remove': !address.isDefaultBilling}"></span>
  </div>
</div>
