<div>
    <div>
      <a class="btn btn-primary" [routerLink]="['../newPayment']">Add paymentMethod</a>
    </div>
    <table class="table table-stripped table-hover">
      <thead>
        <tr>
          <th>Card Number</th>
          <th>Name</th>
          <th>Expiry Date</th>
          <th>Card Company</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paymentMethod of paymentMethods" (click)="selectPaymentMethod(paymentMethod)" [ngClass]="{'table-active': isSelected(paymentMethod.paymentMethodId)}" >
          <td>
            {{paymentMethod.cardNumber}}
          </td>
          <td>
              {{paymentMethod.name}}
          </td>
          <td>
            {{paymentMethod.expiryDate | date}}
          </td>
          <td>
            {{paymentMethod.cardCompany}}
          </td>
          <td>
          <a class="btn btn-primary" (click)="editPaymentMethod(paymentMethod)"><span class="oi oi-pencil"></span></a>
            <a class="btn btn-primary" (click)="removePaymentMethod(paymentMethod)"><span class="oi oi-delete"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-danger" *ngIf='errorMessage'>
      {{errorMessage}}
    </div>
    <router-outlet></router-outlet>
  </div>
