<div class="col-md-6 offset-md-3">
  <div class="card card-login card-plain">
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form-group form-group-no-border" [ngClass]="{'has-danger': username.errors}">
        <input [(ngModel)]="model.username" id="username" placeholder="username..." name="username" class="form-control"
          [ngClass]="{'form-control-danger': username.errors}" required #username="ngModel">
        <div class="form-control-feedback" *ngIf="username.errors">
          <span *ngIf="username.errors.required">
            Username is Required
          </span>
        </div>
      </div>
      <div class="form-group form-group-no-border" [ngClass]="{'has-danger': password.errors}">
        <input type="password" [(ngModel)]="model.password" id="password" placeholder="your password..." name="password" class="form-control"
          [ngClass]="{'form-control-danger': password.errors}" required
          #password="ngModel">
        <div class="form-control-feedback" *ngIf="password.errors">
          <span *ngIf="password.errors.required">
            Password is Required
          </span>
        </div>
      </div>
      <button class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
    </form>
    <alert type="danger" *ngIf="errorMessage ">
      {{errorMessage}}
    </alert>
  </div>
</div>
