<div class="col-md-6 offset-md-3">
  <div class="card card-login card-plain">
    <form (ngSubmit)="submit()" #userForm="ngForm">
      <div class="form-group form-group-no-border" [ngClass]="{'has-danger': firstName.errors}">
        <label for="firstName" class="form-control-label">First Name</label>
        <input [(ngModel)]="model.firstName" id="firstName" placeholder="your first name..." name="firstName" class="form-control"
          [ngClass]="{'form-control-danger': firstName.errors}" required maxlength="24" minlength="3" #firstName="ngModel">
        <div class="form-control-feedback" *ngIf="firstName.errors">
          <span *ngIf="firstName.errors.required">
            First name is Required
          </span>
          <span *ngIf="firstName.errors.minlength">
            Minimum length for first name is 3
          </span>
        </div>
      </div>
      <div class="form-group form-group-no-border" [ngClass]="{'has-danger': lastName.errors}">
        <label for="lastName">Last Name</label>
        <input [(ngModel)]="model.lastName" id="lastName" placeholder="your last name..." name="lastName" class="form-control" [ngClass]="{'form-control-danger': lastName.errors}"
          required maxlength="24" minlength="3" #lastName="ngModel">
        <div class="form-control-feedback" *ngIf="lastName.errors">
          <span *ngIf="lastName.errors.required">
            Last name is Required
          </span>
          <span *ngIf="lastName.errors.minlength ">
            Minimum length for last name is 3
          </span>
        </div>
      </div>
      <div class="form-group form-group-no-border" [ngClass]="{'has-danger': username.errors}">
        <label for="username">Username</label>
        <input [(ngModel)]="model.username" id="username" placeholder="your username..." name="username" class="form-control" [ngClass]="{'form-control-danger': username.errors}"
          required maxlength="24" minlength="3" #username="ngModel">
        <div class="form-control-feedback" *ngIf="username.errors">
          <span *ngIf="username.errors.required">
            Username is required
          </span>
          <span *ngIf="username.errors.minlength">
            Minimum length for username is 3
          </span>
        </div>
      </div>
      <div class="form-group form-group-no-border" [ngClass]="{'has-danger': email.errors}">
        <label for="email">Email</label>
        <input [(ngModel)]="model.email" id="email" placeholder="your email..." name="email" class="form-control" [ngClass]="{'form-control-danger': email.errors}"
          required #email="ngModel">
        <div class="form-control-feedback" *ngIf="email.errors">
          <span *ngIf="email.errors.required">
            Email is Required
          </span>
          <span *ngIf="email.errors.email">
            Invalid email!
          </span>
        </div>
      </div>
      <div class="form-group form-group-no-border" [ngClass]="{'has-danger': password.errors}">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="model.password" id="password" placeholder="your password..." name="password" class="form-control"
          [ngClass]="{'form-control-danger': password.errors}" required validateEqual="confirmPassword" reverse="true" required
          #password="ngModel" minlength="6">
        <div class="form-control-feedback" *ngIf="password.errors">
          <span *ngIf="password.errors.required">
            Password is Required
          </span>
          <span *ngIf="password.errors.minlength">
            Minimum Length for password 6
          </span>
        </div>
      </div>
      <div class="form-group form-group-no-border" [ngClass]="{'has-danger': confirmPassword.errors}">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" [(ngModel)]="model.confirmPassword" id="confirmPassword" placeholder="confirm password..." name="confirmPassword"
          class="form-control" [ngClass]="{'form-control-danger': password.errors}" required validateEqual="password"
          required #confirmPassword="ngModel" minlength="6">
        <div class="form-control-feedback" *ngIf="confirmPassword.errors">
          Confirm Password and password not match.
        </div>
      </div>
      <image-upload [max]="1" [dropBoxMessage]=""></image-upload>
      <button class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
    </form>
    <alert type="danger" *ngIf="errorMessage ">
      {{errorMessage}}
    </alert>
    <alert type="success" *ngIf="successMessage">
      {{successMessage}}
    </alert>
  </div>
</div>
