<div class="navbar navbar-collapse">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['./addresses']">Addresses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['./paymentMethods']">Payments</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
